@charset "UTF-8";
/*积分商城首页-兑换商品及M币数量展示 主色调#ff2c63 下框线d9d9d9,字体灰色868686*/
/*顶部导航栏*/
* {
  box-sizing: border-box; }

::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch; }

.mTop10 {
  margin-top: 0.4266666667rem; }

.padLR12 {
  padding: 0 0.512rem; }

#app {
  width: 16rem;
  margin: 0 auto; }

#home {
  width: 16rem;
  margin: 0 auto 1.7066666667rem; }

/*index遮罩层*/
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 8; }

/*taskCenter遮罩层*/
.taskcenter {
  width: 16rem;
  margin: 0 auto; }

.taskCentershadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 8; }

/*下单窗口*/
.buyGoodsbox {
  overflow: hidden;
  font-size: 0.3413333333rem;
  width: 16rem;
  margin-left: -8rem;
  z-index: 9;
  background: #fff;
  height: 11.9466666667rem;
  border-radius: 0.4266666667rem 0.4266666667rem 0 0;
  padding: 0.32rem 0.256rem; }

.buyGoodsDet {
  height: 2.9013333333rem;
  padding-bottom: 0.64rem;
  border-bottom: 0.0213333333rem solid #D9D9D9;
  display: -webkit-flex;
  display: flex; }

.buyGoodsPic {
  width: 2.3466666667rem;
  height: 2.2613333333rem;
  margin-right: 0.4266666667rem; }

.buyGoodsDet {
  flex: 1; }

.buyGoodsName {
  height: 1.152rem;
  font-size: 0.576rem;
  line-height: 1.152rem; }

.buyGoodsMcoin {
  height: 1.1093333333rem;
  line-height: 1.1093333333rem; }

.GoodsMnm {
  color: #FF2C63;
  padding-right: 0.5973333333rem; }

.GoodsMnm, .allMnm {
  display: inline-block;
  font-size: 0.576rem; }

.GoodsMnm i {
  display: inline-block;
  width: 0.3413333333rem;
  height: 0.384rem;
  margin-right: 0.2986666667rem;
  background: url(../img/integralMcoinB.png) center no-repeat;
  background-size: contain; }

.allMnm {
  color: #868686;
  font-size: 0.576rem; }

.goodsNum {
  height: 2.4746666667rem;
  border-bottom: 0.0213333333rem solid #D9D9D9;
  line-height: 2.4746666667rem;
  display: -webkit-flex;
  display: flex; }

.goodsNum div {
  flex: 1;
  font-size: 0.576rem; }

.goodsNumTitle {
  text-align: left; }

.goodsNumOp {
  text-align: right; }

.nmcom {
  width: 1.7066666667rem;
  height: 1.4933333333rem;
  background: #f5f5f5;
  color: #868686;
  font-size: 0.896rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4933333333rem;
  display: inline-block; }

#nm {
  display: inline-block;
  width: 2.304rem;
  text-align: center;
  font-size: 0.576rem; }

.indexAddress {
  height: 2.9866666667rem;
  border-bottom: 0.0213333333rem solid #D9D9D9;
  display: -webkit-flex;
  display: flex; }

.changeAdd {
  float: right; }

.changeAdd a {
  font-size: 0.6826666667rem;
  color: #FF2C63; }

.getMcoin {
  height: 1.6213333333rem;
  line-height: 1.6213333333rem;
  color: #fff;
  margin: 0.64rem;
  text-align: center; }

.getMcoin i {
  background: url(../img/inforIcon.png) center no-repeat;
  display: inline-block;
  width: 0.9386666667rem;
  height: 0.9386666667rem;
  background-size: contain;
  margin-top: 0.3413333333rem;
  margin-right: 0.4266666667rem;
  float: left; }

.getMcoin a {
  color: #fff;
  display: block;
  height: 100%;
  font-size: 0.8106666667rem; }

.getMcoin p {
  height: 100%;
  width: 8.96rem;
  margin: 0 auto; }

.MnotEnough {
  background: #D9D9D9; }

.mEnough {
  background: #FF2C63; }

.header {
  height: 1.7066666667rem;
  font-size: 0.768rem;
  text-align: center;
  line-height: 1.7066666667rem;
  position: relative; }

.backPre {
  position: absolute;
  left: 0px;
  top: 0;
  display: inline-block;
  width: 1.7066666667rem;
  height: 1.7066666667rem; }

/*透明背景 白色图标*/
.hearTopTansp {
  background: transparent;
  color: #fff; }

/*红色背景-白色图标*/
.headerTopBgR {
  background: #ff2c63;
  color: #fff; }

.hearTopTansp .backPre {
  background: url(../img/intergralBackW.png) center no-repeat;
  background-size: contain; }

.headerTopBgR .backPre {
  background: url(../img/intergralBackW.png) center no-repeat;
  background-size: contain; }

/*白色背景-黑色图标*/
.headerTopBgW {
  background: #fff; }

.headerTopBgW .backPre {
  background: url(../img/intergralBackB.png) center 0.0426666667rem no-repeat;
  background-size: contain; }

/*banner区域*/
.banner {
  width: 100%;
  height: 5.9733333333rem;
  background: #de406a;
  margin-bottom: 0.4266666667rem;
  position: relative; }

.exchangeRecord {
  position: absolute;
  top: 0.64rem;
  right: 0.2133333333rem;
  color: #fff;
  font-size: 0.6826666667rem; }

.bannerMcoin {
  text-align: center;
  line-height: 5.9733333333rem;
  font-size: 1.28rem;
  color: #fff; }

.bannerMcoin i {
  display: inline-block;
  width: 0.5973333333rem;
  height: 0.64rem;
  background: url(../img/integralMcoinW.png) center no-repeat;
  background-size: contain;
  margin-right: 0.2133333333rem; }

/*大家都在兑*/
.goodsExchange {
  background: #fff;
  height: auto; }

.exchangeTitle {
  height: 2.1333333333rem;
  line-height: 2.1333333333rem;
  padding-left: 0.32rem;
  border-bottom: 0.0213333333rem solid #ebebeb;
  margin-top: 0.4266666667rem; }

.exchangeTitle span {
  font-size: 0.6826666667rem;
  height: 0.6826666667rem;
  line-height: 0.6826666667rem;
  border-left: 0.064rem solid #ff2c63;
  padding-left: 0.384rem;
  font-weight: bold; }

.goodsLists {
  display: flex;
  flex-wrap: wrap;
  background: #fff; }

/*去除了better-scroll*/
/*.wrapperbd{
    position: relative;
    overflow: hidden;
    min-height: px2rem(840);
}
.homewrapper{
    position: absolute;
    width:100%;
    top:px2rem(40);
    bottom:px2rem(80);
}*/
.goodsLists .goods {
  width: 8rem;
  margin-top: 0.64rem;
  height: 8.5333333333rem;
  padding: 0 0.64rem;
  text-align: center; }

.goodsPic {
  height: 2.7306666667rem;
  width: 3.2426666667rem;
  margin-bottom: 0.5973333333rem;
  margin-left: 1.7066666667rem; }

.picCom {
  text-align: center;
  width: 72%;
  height: 100%; }

.goodsDet {
  height: 0.9813333333rem;
  margin-bottom: 0.4266666667rem;
  font-size: 0.5973333333rem; }

.LimitQuantity {
  color: #01c170;
  border: 0.0213333333rem solid #01c170;
  border-radius: 0.064rem;
  padding: 0.0426666667rem 0.0853333333rem; }

.goodsPrice {
  height: 0.8533333333rem;
  font-size: 0.5973333333rem;
  color: #ff2c63;
  margin-bottom: 0.4266666667rem; }

.goodsPrice i {
  display: inline-block;
  width: 0.3413333333rem;
  height: 0.384rem;
  margin-right: 0.2986666667rem;
  background: url(../img/integralMcoinB.png) center no-repeat;
  background-size: contain; }

.ExchangeNowbox {
  text-align: center; }

.ExchangeNow {
  padding: 0.128rem 0.768rem;
  border: 0.0426666667rem solid #ff2c63;
  border-radius: 0.2133333333rem;
  text-align: center;
  color: #ff2c63;
  font-size: 0.64rem; }

/*兑换记录页面*/
.ExchangedGList {
  padding: 0 0.512rem;
  background: #fff; }

.ExchangedG {
  display: flex;
  display: -webkit-flex;
  height: 1.792rem;
  padding: 0.32rem 0;
  border-bottom: 0.0213333333rem solid #d9d9d9;
  color: #343434; }

.goodsRecordPic {
  width: 1.1733333333rem;
  height: 1.1306666667rem;
  margin-right: 0.2986666667rem;
  overflow: hidden; }

.goodsRecordDet {
  flex: 1; }

.goodsRecordTitle, .goodsRecordStatus {
  height: 0.5546666667rem;
  font-size: 0.32rem;
  line-height: 0.5546666667rem; }

.goodsRecordStatus {
  color: #868686; }

/*添加地址管理*/
.addressDet {
  height: 10.6666666667rem;
  padding: 0 0.512rem;
  background: #fff; }

#addDetails {
  height: 6.4rem;
  line-height: 2.1333333333rem; }

.addressDet .comIput {
  color: #343434;
  font-size: 6.8693333333rem;
  height: 2.1333333333rem;
  line-height: 2.1333333333rem;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 0.0213333333rem solid #d9d9d9;
  -webkit-appearance: none !important;
  -moz-appearance: textfield; }

.addressDet .comIput:last-child {
  border-bottom: none; }

.setdefault {
  height: 2.9866666667rem;
  font-size: 0.6826666667rem;
  padding: 0 0.512rem;
  line-height: 2.9866666667rem; }

.mint-switch-input:checked + .mint-switch-core {
  background-color: #FF2C63 !important;
  border-color: #FF2C63 !important; }

/*.setdefault span{
    float: left;
    display: inline-block;
    width:0.2rem;
    height:0.2rem;
    background: #fff;
    border:1px solid #D9D9D9;
    border-radius: 0.1rem;
    margin-right: 0.09rem;
}*/
.savebtn {
  position: absolute;
  bottom: 0.8533333333rem;
  padding: 0 0.512rem;
  width: 100%;
  font-size: 0.768rem; }

#saveAddress {
  display: block;
  width: 100%;
  height: 1.6213333333rem;
  text-align: center;
  line-height: 1.6213333333rem;
  color: #fff;
  font-size: inherit;
  background: #FF2C63; }

/*收货地址列表*/
.addNewAddress {
  padding: 0.768rem 0.512rem;
  height: 3.1573333333rem;
  background: #fff;
  line-height: 3.1573333333rem;
  border-bottom: 0.0213333333rem solid #D9D9D9; }

.addNewAddress button {
  width: 100%;
  background-color: #fff;
  height: 1.6213333333rem;
  border: 0.0213333333rem solid #d9d9d9;
  border-radius: 0.8106666667rem;
  display: block;
  color: #FF2C63;
  font-size: 0.6826666667rem;
  text-align: center;
  line-height: 1.6213333333rem; }

.addNewAddress button i {
  background: url(../img/addIcon.png) center no-repeat;
  display: inline-block;
  width: 0.5973333333rem;
  height: 0.5973333333rem;
  background-size: contain;
  margin-right: 0.3413333333rem; }

.addressMsg {
  height: 4.0106666667rem;
  padding: 0 0.512rem;
  background: #fff;
  margin-top: 0.4266666667rem;
  border-bottom: 0.0213333333rem solid #D9D9D9;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap; }

.editBtn, .DefaultAddIcon {
  width: 0.64rem;
  height: 0.64rem;
  margin-top: 1.664rem; }

.editBtn {
  display: block;
  margin-right: 0.8533333333rem;
  background: url(../img/addrEditIcon.png) center no-repeat;
  background-size: contain; }

.DefaultAddIcon {
  margin-left: 0.8533333333rem;
  background: url(../img/dafAddrIcon.png) center no-repeat;
  background-size: contain; }

.msgList {
  font-size: 0.6826666667rem;
  padding: 0.8533333333rem 0;
  flex: 1;
  overflow: hidden; }

.userName {
  padding-right: 0.4693333333rem; }

.userAddDet {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1.152rem;
  line-height: 1.152rem;
  color: #868686; }

/*兑换成功*/
.recordDetMsg section {
  border-bottom: 0.0213333333rem solid #d9d9d9;
  background: #fff;
  font-size: 0.6826666667rem; }

.tipsMsg {
  height: 3.1573333333rem;
  line-height: 3.1573333333rem; }

.tipsMsg span {
  width: 5.5466666667rem;
  font-size: 0.768rem;
  margin: 0 auto;
  display: block; }

.tipsMsg span i {
  display: inline-block;
  float: left;
  margin-top: 1.0666666667rem;
  width: 0.896rem;
  height: 0.896rem;
  line-height: 0.896rem;
  background-size: contain;
  margin-right: 0.2133333333rem; }

.recordOk {
  background: url(../img/ExchOkIcon_03.png) center no-repeat; }

.recordFail {
  font-size: 0.5333333333rem;
  color: #f10505;
  font-family: "iconfont" !important; }

.recordFail:before {
  content: "\E77E"; }

.msgTitle {
  width: 1.5786666667rem;
  line-height: 2.1333333333rem;
  color: #868686; }

.orderAddress {
  height: 4.0106666667rem;
  display: flex;
  display: -webkit-flex; }

.orderAddIcon {
  width: 0.768rem;
  height: 0.9813333333rem;
  margin-right: 0.896rem;
  margin-top: 1.0666666667rem;
  background: url(../img/addrIcon_03.png) center no-repeat;
  background-size: contain; }

.orderAddMsg {
  overflow: hidden;
  flex: 1;
  padding: 0.4266666667rem 0; }

.orderAddUser {
  height: 1.152rem;
  font-size: 0.7253333333rem;
  line-height: 1.152rem; }

#orderUserAddMsg {
  height: 1.152rem;
  line-height: 1.152rem;
  font-size: 0.64rem;
  color: #868686;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.orderGoodsDetails {
  height: 4.2666666667rem;
  display: flex;
  display: -webkit-flex;
  padding: 0.64rem 0.512rem; }

.orderGoogsPic {
  width: 3.2rem;
  height: 2.9866666667rem;
  margin-right: 0.5333333333rem; }

.orderGoodsNameDet {
  padding: 0.2133333333rem;
  flex: 1;
  font-size: 0.64rem; }

/*任务中心*/
.taskCenterBanner {
  position: relative;
  border-radius: 0 0 2.9866666667rem 2.9866666667rem;
  padding: 0 0.256rem;
  height: 13.44rem;
  background: url(../img/taskCenterBannerBg.png) left top repeat-x; }

@media only screen and (min-width: 1024px) {
  .taskCenterBanner {
    height: 12.5866666667rem; }

  .mCoinIcon {
    width: 3.4133333333rem !important;
    height: 3.4133333333rem !important;
    background: url(../img/taskCenterMicon.png) center no-repeat;
    background-size: contain;
    margin: 0 auto 0 !important; }

  .myMcoin {
    margin-top: 0.8533333333rem !important; }

  .myMcoinNm {
    height: 0.9386666667rem !important;
    line-height: 0.9386666667rem !important;
    /*margin-bottom:px2rem(80)!important;*/
    margin-top: 0.384rem !important; } }
.taskCenterBannerContent {
  color: #fff; }

.mCoinIcon {
  width: 4.992rem;
  height: 4.992rem;
  background: url(../img/taskCenterMicon.png) center no-repeat;
  background-size: contain;
  margin: 0.768rem auto 0; }

.myMcoin {
  font-size: 0.64rem;
  line-height: 0.64rem;
  margin-top: 0.8533333333rem;
  text-align: center; }

.myMcoinNm {
  text-align: center;
  font-size: 0.64rem;
  margin-top: 0.384rem;
  margin-bottom: 0.8533333333rem; }

.todayGetMnm {
  text-align: center;
  font-size: 0.64rem; }

.marketAddReward {
  position: absolute;
  bottom: -0.4906666667rem;
  height: 2.7306666667rem;
  width: 15.488rem;
  margin: 0 auto;
  background: #fff;
  border-radius: 0.256rem;
  box-shadow: 0 0.128rem 0.0853333333rem #eceff2;
  display: -webkit-flex;
  display: flex; }

.marketAddReward .marketaotu {
  line-height: 1.4933333333rem;
  flex: 1;
  padding: 0.64rem 0 0.5973333333rem 0; }

.marketAddRewardLine {
  width: 0.0426666667rem;
  height: 1.7066666667rem;
  margin-top: 0.4693333333rem;
  background: #D9D9D9; }

.marketaotu a {
  font-size: 0.5973333333rem;
  display: block;
  width: 100%;
  height: 100%;
  color: #343434; }

.marketaotu i {
  display: inline-block;
  width: 1.4933333333rem;
  height: 1.4933333333rem;
  margin-right: 0.4693333333rem;
  float: left; }

.market i {
  margin-left: 1.9626666667rem;
  background: url(../img/taskCentermMarket.png) center no-repeat;
  background-size: contain; }

.Reward i {
  background: url(../img/tashCentermDraw.png) center no-repeat;
  background-size: contain;
  margin-left: 1.2373333333rem; }

.taskNotice {
  height: 1.7066666667rem;
  line-height: 1.7066666667rem;
  display: -webkit-flex;
  display: flex;
  padding: 0 0.512rem;
  margin-top: 0.64rem; }

.noticeIcon {
  margin-top: 0.4266666667rem;
  width: 1.28rem;
  height: 0.7253333333rem;
  margin-right: 0.8533333333rem;
  margin-left: 0.64rem;
  background: url(../img/taskCenterNotice.png) center no-repeat;
  background-size: contain; }

#noticeList {
  overflow: hidden;
  height: 1.7066666667rem;
  position: relative; }

#noticeList p {
  flex: 1;
  color: #fdbe00;
  font-size: 0.5973333333rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.main {
  padding: 0 0.512rem; }

.mainCom {
  background: #fff;
  border-radius: 0.256rem;
  box-shadow: 0 0.1066666667rem 0.1066666667rem #e7eaee;
  padding: 0.512rem 0.64rem;
  margin-bottom: 0.5546666667rem; }

.newbieTask {
  height: 9.088rem; }

.newbieTaskHead {
  height: 1.3226666667rem; }

.newbieTaskTit {
  float: left; }

.newbieTaskHeadGetM {
  float: right;
  height: 1.28rem;
  line-height: 1.28rem;
  font-size: 0.5973333333rem;
  color: #FF2C63;
  border: 0.0213333333rem solid #FF2C63;
  padding: 0 0.4266666667rem;
  border-radius: 0.64rem; }

.newbieTaskExplain {
  margin-bottom: 0.512rem;
  font-size: 0.5973333333rem;
  line-height: 0.8533333333rem; }

.signIn {
  height: 11.9466666667rem; }

.dayTask {
  height: 12.032rem; }

.videoReward {
  height: 6.6133333333rem; }

.InvitationFriends {
  height: 10.4533333333rem; }

.newbieTaskHead {
  height: 1.28rem;
  line-height: 1.28rem;
  margin-bottom: 0.4693333333rem; }

.newbieTaskTit {
  font-size: 0.8533333333rem;
  font-weight: bold; }

.newbieTaskTit i {
  display: inline-block;
  width: 0.6826666667rem;
  height: 0.6826666667rem;
  background: url(../img/taskCenterAskIcon.png) center no-repeat;
  background-size: contain;
  margin-left: 0.256rem; }

.newbieTaskList p {
  height: 1.024rem;
  line-height: 1.024rem;
  color: #868686;
  font-size: 0.5973333333rem; }

.flRtSpan {
  float: right;
  margin-right: 0.8533333333rem; }

.youCanGet {
  background: #FF2C63;
  color: #fff !important; }

.dayTaskListIcon {
  width: 2.1333333333rem;
  height: 2.1333333333rem;
  background: url(../img/getMcoin.png) center no-repeat;
  background-size: contain;
  margin-right: 0.4266666667rem; }

.dayTaskListIcon p {
  color: #fff;
  font-size: 0.4693333333rem;
  margin-top: 1.536rem;
  text-align: center;
  line-height: 0.5973333333rem; }

.dayTaskList {
  display: -webkit-flex;
  display: flex;
  margin-top: 1.0666666667rem; }

.dayTaskListMsg {
  flex: 1; }

.dayTaskListMsgTit {
  font-size: 0.7253333333rem;
  font-weight: bold; }

.dayTaskListMsgTit i {
  display: inline-block;
  width: 0.6826666667rem;
  height: 0.6826666667rem;
  background: url(../img/taskCenterAskIcon.png) center no-repeat;
  background-size: contain;
  margin-left: 0.256rem; }

.dayTaskListMsg p:first-child span:nth-child(2) {
  float: right;
  font-size: 0.5973333333rem;
  margin-right: 0.512rem;
  height: 0.8533333333rem;
  line-height: 0.8533333333rem;
  padding: 0 0.512rem; }

.dayTaskListMsg p:first-child .youCanGet {
  border-radius: 0.4266666667rem; }

.dayTaskListMsg p:nth-child(2) {
  margin-top: 0.768rem;
  font-size: 0.5973333333rem;
  color: #868686;
  line-height: 0.8533333333rem; }

.videoRewardCondition p {
  color: #868686;
  font-size: 0.5973333333rem;
  line-height: 0.8533333333rem; }

.videoRewardCondition p {
  font-size: 0.5973333333rem;
  color: #868686;
  line-height: 0.8533333333rem;
  margin-bottom: 0.2133333333rem; }

.goInvitationFriends {
  width: 6.5706666667rem;
  height: 1.8986666667rem;
  margin: 0.7253333333rem auto 0;
  background: url(../img/taskCenterInviteFriends.png) center no-repeat;
  background-size: contain;
  font-size: 0.64rem;
  font-weight: bold;
  line-height: 1.8986666667rem;
  text-align: center;
  color: #fff; }

.taskCenterFoot {
  height: 6.4rem; }

.taskCenterFoot p {
  text-align: center;
  font-size: 0.512rem;
  line-height: 0.8533333333rem;
  color: #5a5c61; }

.taskCenterFoot p:first-child {
  color: #1d2088;
  font-size: 0.5973333333rem;
  padding-top: 2.7733333333rem;
  margin-bottom: 0.7253333333rem; }

.taskCenterFoot p:nth-child(3) {
  padding-bottom: 1.7066666667rem; }

.McoinDetailed {
  float: right;
  display: inline-block;
  width: 1.7066666667rem;
  height: 1.7066666667rem;
  background: url(../img/taskCenterMore.png) center no-repeat;
  background-size: contain; }

#signInTips {
  width: 5.76rem;
  height: 3.7973333333rem;
  background: #fff;
  border-radius: 0.128rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 10; }

.signInTipsTitl {
  text-align: center;
  margin-top: 0.384rem;
  font-size: 0.3626666667rem;
  height: 0.3413333333rem;
  line-height: 0.3413333333rem;
  font-weight: bold; }

.signInTipsCont {
  height: 2.304rem;
  color: #868686;
  font-size: 0.2986666667rem;
  padding: 0.4266666667rem; }

.signInTipsCont p:first-child {
  margin-bottom: 0.2133333333rem; }

.signInTipsCont p {
  line-height: 0.32rem; }

.signInTipsIKnow {
  border-top: 0.0213333333rem solid #D9D9D9;
  font-size: 0.2986666667rem;
  line-height: 0.768rem;
  height: 0.768rem;
  text-align: center; }

#getMwindow {
  width: 4.608rem;
  height: 5.5466666667rem;
  border-radius: 0.128rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 10; }

.getMwindowPic {
  width: 4.608rem;
  height: 4.48rem;
  background: url(../img/taskCenterRewardMcoin.png) center no-repeat;
  background-size: contain; }

.getMwindowMnm {
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
  color: #fff;
  font-size: 0.4266666667rem;
  text-align: center; }

#getMwindowMnm {
  font-size: 0.832rem;
  padding-right: 0.1066666667rem; }

/*任务中心M币明细*/
.reciveR {
  width: 16rem;
  margin: 0 auto; }

.hasborderBotom {
  border-bottom: 0.0213333333rem solid #D9D9D9; }

.mcoinDatlist {
  display: -webkit-flex;
  display: flex;
  height: 1.6213333333rem;
  padding: 0.4266666667rem 0.256rem;
  background: #fff;
  border-bottom: 0.0213333333rem solid #D9D9D9; }

.mcoinDatlistLeft {
  flex: 1; }

.mcoinDatlistLeft p {
  height: 0.384rem;
  line-height: 0.384rem; }

.mcoinRecord {
  font-size: 0.32rem; }

.useTime {
  font-size: 0.256rem;
  color: #868686; }

.mcoinNm {
  font-size: 0.4053333333rem;
  height: 0.768rem;
  line-height: 0.768rem; }

.getMColor {
  color: #00b900; }

.useMColor {
  color: #e63100; }

/*邀请好友*/
#invitBd {
  background: url(../img/invitaBg1.png) center no-repeat;
  background-size: 8rem 100%;
  width: 8rem;
  height: 100%; }

.invitNbBd {
  width: 6.4rem;
  height: 8.1706666667rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 1.28rem;
  margin: auto;
  background: url(../img/invitInBg.png) center no-repeat;
  background-size: contain; }

#userHeadPic {
  width: 1.7493333333rem;
  height: 1.7493333333rem;
  background: #FFF;
  border: 0.0426666667rem solid #D9D9D9;
  position: absolute;
  top: -0.8746666667rem;
  left: 50%;
  margin-left: -0.8746666667rem;
  border-radius: -0.8746666667rem;
  overflow: hidden; }

#userHeadPic img {
  width: 100%;
  display: block; }

.invitUserTit {
  text-align: center;
  font-size: 0.3413333333rem;
  color: #b56719;
  line-height: 0.512rem;
  margin-top: 2.56rem;
  margin-bottom: 0.5333333333rem;
  font-weight: bold; }

.Mprice {
  text-align: center;
  font-size: 1.4933333333rem;
  line-height: 1.28rem;
  color: #fb1b71; }

.loadMoka {
  text-align: center;
  font-size: 0.32rem;
  color: #fff;
  line-height: 1.6rem;
  display: block;
  height: 1.7066666667rem;
  width: 5.3973333333rem;
  margin: 0 auto;
  background: url(../img/invitBtnBg3.png) center no-repeat;
  background-size: contain; }

.invitCode {
  font-size: 0.3413333333rem;
  text-align: center;
  color: #b56719; }

.btmMsg {
  position: absolute;
  bottom: 0.2986666667rem;
  height: 1.7066666667rem;
  width: 100%; }

.opMsg {
  font-size: 0.256rem;
  color: #fff;
  text-align: center;
  line-height: 0.512rem;
  margin-bottom: 0.4266666667rem;
  margin-top: 0.2133333333rem; }

.ruleDes {
  font-size: 0.192rem;
  color: #fff;
  text-align: center;
  line-height: 0.512rem; }

.McoinI {
  font-size: 1.0666666667rem; }

/*home navBottom*/
.homeFootNav {
  width: 16rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -8rem;
  height: 1.7066666667rem;
  line-height: 1.7066666667rem;
  display: flex;
  background: #fff;
  border-top: 0.0213333333rem solid #aaa; }

.homeFootNav a {
  flex: 1;
  text-align: center; }

/*秒杀*/
.senconKill {
  display: flex; }

.senconKill > div {
  float: left; }

.senconKill > div:nth-child(1) {
  font-size: 0.6826666667rem;
  font-weight: bold;
  width: 3.2rem; }

.senconKill > div:nth-child(2) {
  width: 9.28rem; }

.senconKill > div:nth-child(2) div {
  float: left;
  margin-right: 0.32rem; }

.senconKill > div:nth-child(2) i {
  float: left;
  padding: 0.2133333333rem;
  font-size: 0.512rem;
  margin-right: 0.2133333333rem;
  height: 1.28rem;
  margin-top: 0.4266666667rem;
  line-height: 1rem; }

.senconKill > div:nth-child(2) i:nth-child(even) {
  background: rgba(0, 0, 0, 0.6);
  color: #fff; }

.senconKill > div:nth-child(3) {
  width: 3.2rem;
  color: #FF4400;
  font-size: 0.64rem; }

.SencondKillbd {
  width: 16rem;
  padding-left: 0.64rem;
  height: 8.5333333333rem;
  background: #fff;
  /*border-bottom: px2rem(1) solid #ebebeb;*/
  margin-right: 4.2666666667rem; }

.SencondKillbdlist-item {
  width: 4.2666666667rem;
  height: 100%;
  margin-right: 0.8533333333rem; }

.SencondKillbdlist-item img {
  display: block;
  width: 3.4133333333rem;
  height: 3.84rem;
  margin: 1.0666666667rem 0 0.64rem 0.4266666667rem; }

.secondPrice {
  height: 1.6rem;
  text-align: center;
  line-height: 1.6rem;
  font-size: 0.64rem; }

.secondQuanlty {
  height: 1.28rem;
  text-align: center;
  line-height: 1.28rem;
  color: #aaa;
  font-size: 0.6826666667rem; }

/*精选品类*/
.styletitle {
  display: flex; }

.styletitle div {
  flex: 1; }

.styletitle div:nth-child(1) {
  font-size: 0.6826666667rem;
  font-weight: bold;
  text-align: left;
  padding-left: 0.4266666667rem; }

.styletitle div:nth-child(2) {
  color: #FF4400;
  font-size: 0.64rem;
  text-align: right;
  padding-right: 0.64rem; }

/*精选品类*/
#styleBetterBd {
  width: 16rem;
  height: 5.12rem;
  overflow: hidden; }

#styleBetterBd ul li {
  float: left;
  width: 25%; }

#styleBetterBd ul li:not(:last-child) {
  border-right: 0.0213333333rem solid #f2f2f2; }

#styleBetterBd ul li a img {
  width: 100%;
  display: block;
  height: 100%; }

/*我的*/
.myState {
  background: #fff;
  padding: 0.32rem 0.4266666667rem;
  margin-top: 0.4266666667rem; }

.mypubStyle {
  border-bottom: 0.0213333333rem solid #eee;
  height: 1.7066666667rem;
  line-height: 1.7066666667rem;
  display: flex;
  padding: 0 0.32rem; }

.mypubStyle span {
  flex: 1;
  display: inline-block;
  height: 100%; }

.mypubStyle span:nth-child(2) {
  text-align: right; }

.mypubStyle .label {
  font-size: 0.5973333333rem; }

.myState .myHead {
  height: 3.4133333333rem;
  line-height: 3.4133333333rem; }

.myState .myHead span img {
  width: 2.9866666667rem;
  height: 2.9866666667rem;
  display: block;
  float: right; }

.mypubStyle:active {
  background: #eee; }

/*# sourceMappingURL=integralStyle.css.map */
